################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/TI-Lab1/FileContentIndex/
/TI-Lab1/obj/
/TI-Lab1/bin/
